body {
    font-family: sans-serif;
    background-color: #eee;
}

#wrapper {
    margin-left: 16px;
}

.example pre {
    display: block;
    margin: 0;
    padding: 0.5em;
    max-width: calc(100% - 32px);
    overflow-x: scroll
}

.example.input pre {
    background-color: #dcc;
}

.example.output pre {
    background-color: #ccd;
}

.credit {
    margin: 24px 0 0 0;
}